/*FONT*/
@font-face{
  font-family: mainFont;
  src:url(cannu-font/CannuRegular-axgPE.ttf);  
}
@font-face{
  font-family: nameFont;
  src:url(alphabet-font/Alphanet-eZ13x.otf);  
}


/*Nav bar animation*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  span{
    float: right;
    font-size: 45px;
    color: #C4C4C4;
  }
  

  

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }





  /*Fade in landing page*/
  .animated {
    font-size: 5.4rem;
    position: absolute;
    left: 16.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: white;
    background-repeat: no-repeat;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 .animated2 {
  font-size: 3rem;
  position: absolute;
  left: 50.5rem;
  top: 3rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
  background-repeat: no-repeat;
  padding-top:95px;
  margin-bottom:60px;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }


 /* .col {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  font-size: 100px;
} */




/*Different pages on the site*/
#landing{
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(watercircle.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70%;
  font-family: mainFont;

}
#animated-example h1{
  font-size: 7rem;
  transform: translateY(-30%);
  line-height: 120%;
}



#landing .col{
  margin-left: auto;
}




#portfolio{
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}





/*ABOUT PAGE CSS and animation*/
#about{
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: white;
  background: url("laptop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: mainFont;


}
#about > h1{
  margin-top: 21.4px;
  font-size: 20rem;
  line-height: 90%;
}
 /* #about div > p{
  font-size: 30em;
} */



#rocket{
  width: 200px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* @keyframes example {
  
	0% {
		transform: scale(1) translateY(40vh) translateX(-10vw) rotate(-10deg);
  }
  
	
  
	10% {
		transform: translateY(27vh) translateX(10vw) scale(1) rotate(-10deg);
  }
  
  
	
	20% {
		transform: translateY(20vh) translateX(30vw) scale(1) rotate(-5deg);
  }
  
  
	
	30% {
		transform: translateY(15vh) translateX(50vw) scale(1);
  }

  
	
	40% {
		transform: translateY(10vh) translateX(70vw) scale(1);
  }
  
  
	50% {
		transform: translateY(5vh) translateX(90vw) scale(1);
  }

  
	60% {
		transform: translateY(4vh) translateX(100vw) scale(1);
  }

  

  70% {
		transform: translateY(4vh) translateX(110vw) scale(1);
  }

  
  
  80% {
		transform: translateY(4vh) translateX(110vw) scale(1);
	}
  
  
  
  90% {
		transform: translateY(4vh) translateX(110vw) scale(1);
  }
  
  

	100% {
		transform: translateY(2vh) translateX(110vw) scale(1);
	}
	
} */


@keyframes example {
  
	0% {
		transform: scale(1) translateY(40vh) translateX(-10vw) rotate(-10deg);
  }
  
	
  
	10% {
		transform: translateY(27vh) translateX(10vw) scale(1) rotate(-10deg);
  }
  
  
	
	20% {
		transform: translateY(20vh) translateX(25vw) scale(1) rotate(-5deg);
  }
  
  
	
	30% {
		transform: translateY(15vh) translateX(35vw) scale(1) rotate(-5deg);
  }

  
	
	40% {
		transform: translateY(10vh) translateX(45vw) scale(1);
  }
  
  
	50% {
		transform: translateY(5vh) translateX(55vw) scale(1);
  }

  
	60% {
		transform: translateY(4vh) translateX(75vw) scale(1);
  }

  

  70% {
		transform: translateY(4vh) translateX(90vw) scale(1);
  }

  
  
  80% {
		transform: translateY(4vh) translateX(100vw) scale(1);
	}
  
  
  
  90% {
		transform: translateY(4vh) translateX(100vw) scale(1);
  }
  
  

	100% {
		transform: translateY(2vh) translateX(100vw) scale(1);
	}
	
}



#aboutinfo{
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
#aboutinfo > h1{
  margin-top: 0px;
}









#contact{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: white;
}























/*CSS for the Carousel*/
body {
  margin: 0;
  background: lightgray;
  text-align: center;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 20s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

a > span {
  margin-top: auto;
  font-size: 3rem;
}


.carousel__face:nth-child(1) {
  background-image: url("NixonProject.png");
  opacity: .95;
  background-position: center;
  transform: rotateY(  0deg) translateZ(220px); }
.carousel__face:nth-child(2) { 
  background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 72deg) translateZ(220px); }
.carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY( 144deg) translateZ(220px); }
.carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(216deg) translateZ(220px); }
.carousel__face:nth-child(5) {
  background-image: url("");
  transform: rotateY(288deg) translateZ(220px); }


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}







